

.about{
   
    width: 90%;
    height: 20vh;
    
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    flex-direction: column;
    border-radius: 1rem;
    
    color: white;

    justify-content: start;

    margin-bottom: 20rem;
}
#adesc{
    width: 1000px;

    display:contents;

    text-align: center;
    font-size: 1.5rem;
    max-width: 1000px;
    
}


#about{
    font-size: 3rem;
    text-align: center;

    margin-bottom: 2rem;
    
}

.word {
    display: inline-block;
    transition: color 0.2s ease-in-out;
  }
  
  .word:hover {
    color: lime;
  }
  
