*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.nav{
    height: 70px;

    
    display: flex;
    list-style-type: none;
    
    align-items: baseline;

    position: fixed;
    
    flex-direction: row;
    padding: 1rem;

    justify-content: end;

    position: absolute;
    top: 0;
    left: 0rem;
    gap: 2.2rem;
    font-size: 1.7rem;
    padding-left: 2rem;
    width: 100%;

    color: white;
    z-index: 100; 
}

.nav li{
    margin-left: 20px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.nav li:hover{
    transition: ease 0.3s;
    box-shadow: 5px 5px  grey;
}


.nright{
    display: flex;
    flex-direction: row;
    height: 3rem;
    
    position: fixed;
    top: 10px;

    
    justify-content: end;
    align-items: end;
    
   
    top: 0rem;
    
    gap: 1.5rem;
    
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    background-color: black;
    /* border-bottom: 2px solid white;
    z-index: 100; */

}
span{
    color:white;
}
.nleft{
   
   width: 30%;
   height: 3rem;
   display: flex;

   position: fixed;
   top: 10px;
   left: -100px;
   z-index: 1;

   font-size: 1.5rem;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   font-weight: bold;
  
   
}
.nleft img{
   height: 3rem;
    z-index: 50;
}
.nav button{
    all: unset;
  
    cursor: pointer;
    color:  white;
    padding-left: 2rem;
}

@media screen and (max-width:800px) {
    .nright{
        display: none;
    }
    .nleft{
        
        justify-content: center;
    }
}




